/* test for google fonts */

:root {
  --clr-pri-400: #1c1f2b;
  --clr-acc-300: #f79e87;
  --clr-acc-400: #f25f3a;
  --clr-acc-500: #b8492e;
  --clr-neu-400: #f5cdc1;
  --clr-bkg-400: #f7efec;

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}
/* https://piccalil.li/blog/a-modern-css-reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLING */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
  background: var(--clr-bkg-400);
}

.container {
  /* max-width: 70rem;
  margin-inline: auto; */
}

/* button */
.button {
  display: inline-flex;

  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;

  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;

  color: var(--clr-pri-400);
  background-color: var(--clr-acc-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-acc-500);
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.button[data-type="inverted"] {
  background-color: var(--clr-bkg-400);
  color: var(--clr-pri-400);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-acc-300);
  color: var(--clr-acc-500);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-bkg-400);
  color: var(--clr-acc-400);
}

/* HEADER */

.primary-header {
  padding: 1rem;
  min-height: 4rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 10vw;
}

.nav-list {
  display: flex;
  gap: clamp(1rem, 10vw, 8rem);
  font-weight: var(--fw-bold);
}
.nav-list a {
  text-decoration: none;
  color: var(--clr-pri-400);
}

.nav-list li a:where(:hover, :focus) {
  color: var(--clr-acc-400);
}

.header-logo {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-decoration: none;
}

.mobile-nav-toggle {
  z-index: 5;
  display: none;
  cursor: pointer;

  background: transparent;
  border: 0;
  padding: 0.5em;
}

.mobile-menu-hamburger,
.mobile-menu-close {
  width: var(--size-650);
  aspect-ratio: 1;
  color: var(--clr-pri-400);
  fill: var(--clr-pri-400);
}

.nav-svg {
  width: var(--size-650);
  aspect-ratio: 1;
  color: var(--clr-pri-400);
  fill: var(--clr-pri-400);
}
.nav-svg :where(:hover, :focus) {
  color: var(--clr-acc-400);
  fill: var(--clr-acc-400);
}

@media (max-width: 50em) {
  .header-navigation {
    position: fixed;
    padding: 2rem;
    inset: 5rem 1rem auto;

    z-index: 2;

    max-width: 30rem;
    margin-inline: auto;

    background: var(--clr-bkg-400);
    border-radius: 1rem;
    box-shadow: 0 0 100rem var(--clr-pri-400);
  }

  .nav-list {
    display: grid;
    width: 100%;
  }
  .nav-list li {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
  }
}

/* INDIVIDUAL SECTIONS */

.title-p-button {
  padding: 1rem;
}
.title-p-button h1 {
}
.title-p-button p {
  padding: var(--size-500) 0;
}

@media (min-width: 50em) {
  .title-p-button p {
    padding: var(--size-500) 30% var(--size-500) 0;
  }
}

.triple-bullet-points {
  padding: 1rem;
}
.triple-bullet-points ul {
  list-style-type: none;
}
.triple-bullet-points ul li {
  padding: 0.5rem 0;
}

/* FOOTER */

.primary-footer {
  min-height: 200px;
  color: var(--clr-bkg-400);
}

.footer-logo {
  grid-area: logo;
  margin-inline: auto;
  font-size: clamp(1.5rem, 3vw, 2rem);
  /* background-color: aqua; */
}
.footer-socials {
  grid-area: socials;
  margin-inline: auto;
  margin-bottom: 2rem;
  /* background-color: rgb(89, 136, 51); */
}
.footer-nav {
  grid-area: links;
  margin-inline: auto;
  text-align: center;
  min-width: 100%;
  /* background-color: rgb(97, 39, 89); */
}
.footer-input-wrapper {
  grid-area: input;
  display: flex;
  gap: 1rem;
  height: fit-content;
  margin-inline: auto;
  /* background-color: rgb(255, 136, 0); */
}

.copyright {
  grid-area: copyright;
  /* background-color: deeppink; */
  height: fit-content;
  margin-inline: auto;
  text-align: center;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
}

.primary-footer-wrapper {
  display: grid;
  margin-inline: auto;
  position: relative;
  padding: 1rem;

  min-height: 14rem;
  width: clamp(25rem, 100%, 100rem);

  gap: var(--size-400);

  grid-template-columns: 3fr 4fr 3fr;
  grid-template-areas:
    "logo links input"
    "socials links copyright";
}

@media (max-width: 50em) {
  .primary-footer-wrapper {
    width: min(100%, 35rem);
    margin-inline: auto;

    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "links"
      "input"
      "socials"
      "copyright";
  }

  .footer-nav {
    min-width: 50%;
  }
  .footer-input-wrapper input {
    width: 100%;
  }
  .footer-socials {
    margin-bottom: 4rem;
  }
}

/* Footer Items */

.footer-nav {
  columns: 2;
}
.footer-nav a {
  color: var(--clr-bkg-400);
  text-decoration: none;

  line-height: 2.5rem;
  margin: 20rem 0rem;
}
.footer-nav a:where(:hover, :focus) {
  color: var(--clr-acc-400);
}

.social-list {
  display: flex;
  gap: clamp(0.25rem, 7%, 5rem);
}
.social-icon {
  width: var(--size-700);
  aspect-ratio: 1;
  fill: var(--clr-bkg-400);
}
.social-icon:where(:hover, :focus) {
  fill: var(--clr-acc-400);
}

@media (max-width: 50em) {
  .social-icon {
    width: var(--size-700);
  }
}

.footer-input {
  border: 0;
  border-radius: 100vw;
  padding: var(--size-300) var(--size-400);
}

/* UTILITY CLASSES */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.even-columns {
  display: grid;
  gap: 1rem;

  max-width: 70rem;
  margin-inline: auto;
}

.even-columns[data-type="inverted"] {
  background-color: var(--clr-acc-400);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@media (max-width: 50em) {
  .display-sm-none {
    display: none;
  }
  .hide-small {
    display: none;
  }
}

.inverted-ribbon {
  background-color: var(--clr-acc-400);
}

.bg-primary-400 {
  background-color: var(--clr-pri-400);
}
.bg-accent-400 {
  background-color: var(--clr-acc-400);
}

.text-primary-400 {
  color: var(--clr-pri-400);
}
.text-accent-400 {
  color: var(--clr-acc-400);
}
.text-neutral-400 {
  color: var(--clr-neu-400);
}
.text-background-400 {
  color: var(--clr-bkg-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}
